


<div class="container">
    <div class="flex-container">
        <mat-card id="user-card">
            <mat-card-header>
                <mat-card-title class="title">{{user?.first_name}} {{user?.last_name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <div class="custom-form-group">
                    <label>Id</label>
                    <div class="custom-display-box">
                        {{user?.id}}
                    </div>
                </div>
                <div class="custom-form-group">
                    <label>Name</label>
                    <div class="custom-display-box">
                        {{user?.first_name}} {{user?.last_name}}
                    </div>
                </div>
                <div class="custom-form-group">               
                    <label>Email</label>
                    <div class="custom-display-box">
                        {{user?.email}}
                    </div>
                </div> 

                <div class="custom-form-group">      
                    <button id="btn-back" mat-raised-button color="accent" (click)="goToUsers()">Back To Users</button>
                </div> 
            </mat-card-content>
        </mat-card>
    </div>
</div>
